# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log

# Kubernetes secrets (if any)
*secret*.yaml

# IDE
.vscode/
.idea/

