apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: auth-ns
  labels:
    app: order-service
    monitoring: enabled
spec:
  selector:
    app: order-service
  ports:
  - name: http
    port: 80
    targetPort: 8080
  - name: metrics
    port: 8001
    targetPort: 8001
